<div class="container mt-4">

    <form asp-controller="Sales" asp-action="Index" class="mb-4">
        
        <div class="row align-items-center">
                @* search *@
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search sale..."
                       name="searchString" value="@ViewBag.SearchString">
                    <div class="input-group-append mx-lg-4">
                        <button type="submit" value="Search" class="btn btn-outline-primary">
                            Filtr<i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
                 @* filtr *@
            <div class="col-md-4">
                <div class="input-group">
                    <select class="form-control" name="customerId">
                            <option value="" selected disabled>  All Customer </option>
                        @foreach (var customer in ViewBag.Customers)
                        {
                            <option value="@customer.Id">@customer.FullName</option>
                        }
                    </select>
                </div>
            </div>

            @* create *@
            <div class="col-md-2 text-right">
                <a class="btn btn-success " asp-action="Create">
                    Create Sale
                </a>
            </div>
                 
        </div>
    </form>
       
        @* data grid *@
    <div class="row">
        <div class="col-12">
                <ejs-grid id="products-list"
                    dataSource="@ViewBag.Sales"
                    gridLines="Vertical"
                    allowSorting="true">
                <e-grid-columns>
                    <e-grid-column headerText="Id" field="Id" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Sale Date" field="SaleDate" format="dd/MM/yyyy, HH:mm:ss" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Total price" field="TotalDue" format="C2" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Customer" field="Customer.FullName" typeof="text"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

        @* pagineted *@
    <div class="d-flex justify-content-between">
        <div class="p-2">
            @if (ViewBag.HasPreviousPage)
            {
                <a class="btn btn-outline-primary rounded-left" href="@Url.Action("Index", new { pageNumber = 1})">&lt;&lt;</a>
            }

            @if (ViewBag.HasPreviousPage)
            {
                <a class="btn btn-outline-primary rounded-0" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1})">&lt;</a>
            }

            <button type="button" class="btn btn-primary btn-lg rounded-0" disabled>@ViewBag.CurrentPage</button>

            @if (ViewBag.HasNextPage)
            {
                <a class="btn btn-outline-primary rounded-0" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1})">&gt;</a>
            }

            @if (ViewBag.HasNextPage)
            {
                <a class="btn btn-outline-primary rounded-right" href="@Url.Action("Index", new { pageNumber = ViewBag.PageCount })">&gt;&gt;</a>
            }
        </div>
        <div class="p-2">
            <p class="h6">@ViewBag.CurrentPage of @ViewBag.PageCount pages (@ViewBag.TotalCount items)</p>
        </div>
    </div>

</div>
<script id="template" type="text/x-template">
    <div>
        <a rel='nofollow' href="sales/Details/${Id}">${Id}</a>
    </div>
</script>


