@model IEnumerable<SupplyItem>
@{
    ViewData["Title"] = "Index";
}

<h1>Categories @ViewBag.SupplyItems.Count</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.ProductId)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.SupplyId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.SupplyId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                    @Html.ActionLink("Details", "Details", new { item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

