@model Lesson11.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_DataGridLayout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/animation.css" />
</head>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard/index"><i class="fa fa-home" style="color: white"></i></a></li>
        <li class="breadcrumb-item"><a href="/Products/index">Products List</a></li>
        <li class="breadcrumb-item active" aria-current="page">Details | History</li>
    </ol>
</nav>
<body>
    <div>
        <h2>Details</h2>
        <hr style="margin-top: 70px;"/>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SalePrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SalePrice)
                <i class="fa-solid fa-dollar-sign"></i>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SupplyPrice)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SupplyPrice)
                <i class="fa-solid fa-dollar-sign"></i>
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ExpireDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ExpireDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>
    </div>
    <div class="mt-4">
        <a asp-action="Index" class="btn btn-outline-info">
            <i class="fa-solid fa-arrow-left"></i>
            Back
        </a>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-warning">
            <i class="fa-solid fa-pen"></i>
            Edit
        </a>
        <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-outline-danger">
            <i class="fa-solid fa-trash"></i>
            Delete
        </a>
    </div>
</body>