
<div class="container mt-5">
    <form asp-controller="Products" asp-action="Index" class="mb-4">
        <input type="hidden" name="prevCategoryId" value="@ViewBag.SelectedCategory?.Id" />

        <div class="row align-items-center">

            <div class="d-flex justify-content-between">
                @* search *@
                <div class="col-md-6 mb-3">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search product..."
                                name="searchString" value="@ViewBag.SearchString">
                    </div>
                </div>

                @* filtr *@
                <div class="col-md-4 mb-3">
                    <div class="input-group">
                        <select class="form-control" name="categoryId">
                            <option value="" selected disabled>@ViewBag.SelectedCategory.Name</option>
                            @foreach (var category in ViewBag.Categories)
                            {
                                <option value="@category.Id" selected="@(category.Id == ViewBag.categoryId)">
                                    @category.Name
                                </option>
                            }
                        </select>
                    </div>
                </div>

                <div style="margin-top: -2px;">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-search"></i> Search
                    </button>
                </div>
            </div>
        </div>
    </form>
    
    <div class="row">
        <div class="d-flex flex-row mt-5 mb-2 flex-row-reverse" style="gap: 10px;">
            <a class="btn btn-success mr-auto" asp-action="create">
                <i class="fa fa-plus"></i> Create
            </a>
            <a class="btn btn-outline-info" asp-action="upload">
                <i class="fa-solid fa-upload"></i> Upload
            </a>
            <a class="btn btn-outline-info" asp-action="download">
                <i class="fa-solid fa-download"></i> Download
            </a>
        </div>
        <div class="col-12">
            <ejs-grid id="products-list"
                        dataSource="@ViewBag.Products"
                        gridLines="Vertical"
                        allowSorting="true">
                <e-grid-columns>
                    <e-grid-column headerText="Id" field="Id" template="#template" typeof="Text"></e-grid-column>
                    <e-grid-column headerText="Name" field="Name" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Description" field="Description" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Sale Price" field="SalePrice" typeof="number" format="C2"></e-grid-column>
                    <e-grid-column headerText="Supply Price" field="SupplyPrice" typeof="number" format="C2"></e-grid-column>
                    <e-grid-column headerText="Category" field="Category.Name" typeof="text"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="p-2" style="font-size: 14px;">

            @if (ViewBag.HasPreviousPage)
            {
                <a class="btn btn-outline-primary rounded-left" href="@Url.Action("Index", new { pageNumber = 1})">&lt;&lt;</a>
            }

            @if (ViewBag.HasPreviousPage)
            {
                <a class="btn btn-outline-primary rounded-0" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1})">@(@ViewBag.CurrentPage - 1)</a>
            }

            <button type="button" class="btn btn-primary btn-lg rounded-0" disabled>@ViewBag.CurrentPage</button>

            @if (ViewBag.HasNextPage)
            {
                <a class="btn btn-outline-primary rounded-0" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1})">@(@ViewBag.CurrentPage + 1)</a>
            }
           
            @if (ViewBag.CurrentPage < ViewBag.PageCount-1)
            {
                <a class="btn btn-outline-primary rounded-0" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 2})">@(@ViewBag.CurrentPage + 2)</a>
                <a class="btn btn-outline-primary rounded-0" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1})">&lt;</a>
            }

            <button type="button" class="btn btn-primary btn-lg rounded-0" disabled style="border-radius: 25px; margin: 0 5px; font-size: 18px;">@ViewBag.CurrentPage</button>

            @if (ViewBag.HasNextPage)
            {
                <a class="btn btn-outline-primary rounded-0" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1})">&gt;</a>
            }

            @if (ViewBag.HasNextPage)
            {
                <a class="btn btn-outline-primary rounded-right" href="@Url.Action("Index", new { pageNumber = ViewBag.PageCount })">&gt;&gt;</a>
            }

        </div>

        <div class="p-2">
            <p class="h6">@ViewBag.CurrentPage of @ViewBag.PageCount pages (@ViewBag.TotalCount items)</p>
        </div>
    </div>
</div>
<script id="template" type="text/x-template">
    <div>
        <a rel='nofollow' href="products/Details/${Id}">${Id}</a>
    </div>
</script>

