@model IEnumerable<Lesson11.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class ="text-light">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.SupplyPrice)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.SalePrice)
            </td>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.SupplyPrice)
            </td>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
