@model IEnumerable<Lesson11.Models.Product>

@{
    ViewData["Title"] = "Index";
}


<h1>Index</h1>

	<div class="px-4 pb-4">
		<ejs-grid id="products-list"
				  dataSource="@ViewBag.Products"
				  gridLines="Vertical"
				  allowSorting="true">
			<e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
			<e-grid-columns>
				<e-grid-column headerText="Id" field="Id" typeof="text"></e-grid-column>
				<e-grid-column headerText="Название" field="Name" typeof="text"></e-grid-column>
				<e-grid-column headerText="Описание" field="Description" typeof="text"></e-grid-column>
				<e-grid-column headerText="Приходная цена" field="SupplyPrice" typeof="text"></e-grid-column>
				<e-grid-column headerText="Продажная цена" field="SalePrice" typeof="text"></e-grid-column>
				<e-grid-column headerText="Категория Id" field="CategoryId" typeof="date"></e-grid-column>
			</e-grid-columns>
		</ejs-grid>
	</div>
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class ="text-light">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.SalePrice)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.SupplyPrice)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.SalePrice)
            </td>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.SupplyPrice)
            </td>
                <td class="text-light">
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
