<form asp-controller="Categories" asp-action="Index">
    <p>
        Search by name: <input type="text" name="SearchString" />
        <input type="submit" value="Search" />
    </p>
</form>
<div class="row">
    <div class="d-flex justify-content-between">
        <div class="align-self-end mb-3">
            <a class="btn btn-success " asp-action="Create">
                Create Category
            </a>
        </div>
    </div>

    <div class="px-4 pb-4">
        <ejs-grid id="categories-list"
          dataSource="@ViewBag.Categories"
          gridLines="Vertical"
          allowSorting="true">
            <e-grid-columns>
                <e-grid-column headerText="Id" field="Id" template="#template" typeof="Text"></e-grid-column>
                <e-grid-column headerText="Category Name" field="Name" typeof="text"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>
<div>
    @if (ViewBag.HasPreviousPage)
    {
        <a class="btn btn-outline-danger" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1})">Previous</a>
    }

    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <a href="@Url.Action("Index", new { pageNumber = i})">@i</a>
    }

    @if (ViewBag.HasNextPage)
    {
        <a class="btn btn-outline-success" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1})">Next</a>
    }
</div>

<script id="template" type="text/x-template">
    <div>
        <a rel='nofollow' href="categories/Details/${Id}">${Id}</a>
    </div>
</script>
