@model IEnumerable<Supplier>
@{
    ViewData["Title"] = "Index";
}

<h1>Categories @ViewBag.Suppliers.Count</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td class="text-white">
                    @Html.DisplayFor(modelItem => item.Company)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.Id }) |
                    @Html.ActionLink("Details", "Details", new { item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>

