@model Lesson11.Models.Supplier

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DataGridLayout.cshtml";
}
<!-- Navigation link -->
<nav aria-label="breadcrumb" style="margin-left: 20px;">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard/index"><i class="fa fa-home" style="color: white"></i></a></li>
        <li class="breadcrumb-item active" aria-current="page">Suppliers List</li>
    </ol>
</nav>
<form asp-controller="Suppliers" asp-action="Index" class="mb-2">
    <div class="row" style="margin-top: 60px;">
        <div class="d-flex flex-row align-items-start gap-4">
            <!-- Search -->
            <div class="col-md-4 mb-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search supplier..." name="searchString" id="searchString" value="@ViewBag.SearchString">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </div>
            <!-- Date -->
            <div class="col-md-2" style="margin-left: 100px">
                <input type="date" class="form-control" />
            </div>
            <!-- Action Buttons -->
            <div class="d-flex flex-row col-md-4 mb-4" style="gap: 13px; margin-left:140px;">
                <div class="dropdown">
                    <button class="btn btn-outline-info dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-download"></i> Download
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" asp-action="DownloadXML">
                            <i class="fa-solid fa-file-pdf"></i> XML
                        </a>
                        <a class="dropdown-item" asp-action="DownloadPDF">
                            <i class="fa-solid fa-file-excel"></i> PDF
                        </a>
                    </div>
                </div>
                <a class="btn btn-outline-info" asp-action="upload">
                    <i class="fa-solid fa-upload"></i> Upload
                </a>
                <a class="btn btn-success" asp-action="create">
                    <i class="fa fa-plus"></i> Create
                </a>
            </div>
        </div>
    </div>
</form>

    <div class="row">
        <div class="col-12">
            <ejs-grid id="categories-list"
                      dataSource="@ViewBag.Suppliers"
                      gridLines="Vertical"
                      allowSorting="true">
                <e-grid-columns>
                    <e-grid-column headerText="Id" field="Id" template="#template" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Firstname" field="FirstName" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Lastname" field="LastName" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Phonenumber" field="PhoneNumber" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Company" field="Company" typeof="text"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

    @* pagination *@
    <div class="d-flex justify-content-between">
        <div class="p-2">
            @if (ViewBag.HasPreviousPage)
            {
                <a class="btn btn-outline-primary rounded-left" href="@Url.Action("Index", new { pageNumber = 1 })">&lt;&lt;</a>
            }

            @if (ViewBag.HasPreviousPage)
            {
                <a class="btn btn-outline-primary rounded-right" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1})">@(@ViewBag.CurrentPage - 1)</a>
            }

        <button type="button" class="btn btn-primary rounded-right" disabled>@ViewBag.CurrentPage</button>

            @if (ViewBag.HasNextPage)
            {
                <a class="btn btn-outline-primary rounded-right" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1})">@(@ViewBag.CurrentPage + 1)</a>
            }

            @if (ViewBag.CurrentPage <= 1)
            {
                <a class="btn btn-outline-primary rounded-right" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 2})">@(@ViewBag.CurrentPage + 2)</a>
            }

            @if (ViewBag.HasNextPage)
            {
                <a class="btn btn-outline-primary rounded-right" href="@Url.Action("Index", new { pageNumber = ViewBag.PageCount })">&gt;&gt;</a>
            }
        </div>
        <div class="p-2">
            <p class="h6">@ViewBag.CurrentPage of @ViewBag.PageCount pages (@ViewBag.TotalCount items)</p>
        </div>
    </div>

<script id="template" type="text/x-template">
    <div>
        <a rel='nofollow' href="suppliers/Details/${Id}">${Id}</a>
    </div>
</script>



