<head>
    <link rel="stylesheet" href="~/css/animation.css" />
</head>
<div class="container mt-4">

    <form asp-controller="Suppliers" asp-action="Index" class="mb-4">

        <div class="row align-items-center">
            @* search *@
            <div class="col-md-6">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search supplier..."
                           name="searchString" value="@ViewBag.SearchString">
                </div>
            </div>

            <div style="margin-top: -30px;">
                <button type="submit" class="btn btn-create btn-back">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <i class="fa fa-search"></i> Filter
                </button>
            </div>

            @* create *@
            <div class="col-md-2 text-right">
                <a asp-action="Create" class="btn btn-create position-fixed" style="top: 80px; right: 20px;">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Create
                </a>
            </div>

        </div>
    </form>

    @* data grid *@
    <div class="row">
        <div class="col-12">
            <ejs-grid id="categories-list"
                      dataSource="@ViewBag.Suppliers"
                      gridLines="Vertical"
                      allowSorting="true">
                <e-grid-columns>
                    <e-grid-column headerText="Id" field="Id" template="#template" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Firstname" field="FirstName" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Lastname" field="LastName" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Phonenumber" field="PhoneNumber" typeof="text"></e-grid-column>
                    <e-grid-column headerText="Company" field="Company" typeof="text"></e-grid-column>
                </e-grid-columns>
            </ejs-grid>
        </div>
    </div>

    @* pagineted *@
    <div class="d-flex justify-content-between">
        <div class="p-2">
            @if (ViewBag.HasPreviousPage)
            {
                <a class="btn btn-outline-primary rounded-left" href="@Url.Action("Index", new { pageNumber = 1})">&lt;&lt;</a>
            }

            @if (ViewBag.HasPreviousPage)
            {
                <a class="btn btn-outline-primary rounded-0" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage - 1})">@(@ViewBag.CurrentPage - 1)</a>
            }

            <button type="button" class="btn btn-primary btn-lg rounded-0" disabled>@ViewBag.CurrentPage</button>

            @if (ViewBag.HasNextPage)
            {
                <a class="btn btn-outline-primary rounded-0" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 1})">@(@ViewBag.CurrentPage + 1)</a>
            }

            @if (ViewBag.CurrentPage < ViewBag.PageCount - 1)
            {
                <a class="btn btn-outline-primary rounded-0" href="@Url.Action("Index", new { pageNumber = ViewBag.CurrentPage + 2})">@(@ViewBag.CurrentPage + 2)</a>
            }

            @if (ViewBag.HasNextPage)
            {
                <a class="btn btn-outline-primary rounded-right" href="@Url.Action("Index", new { pageNumber = ViewBag.PageCount })">&gt;&gt;</a>
            }
        </div>
        <div class="p-2">
            <p class="h6">@ViewBag.CurrentPage of @ViewBag.PageCount pages (@ViewBag.TotalCount items)</p>
        </div>
    </div>

    <script id="template" type="text/x-template">
        <div>
            <a rel='nofollow' href="suppliers/Details/${Id}">${Id}</a>
        </div>
    </script>

</div>



